{% extends "::base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block body%}
    {% block headerblock %} {{ parent() }} {% endblock %}
    {% block fos_user_content %}
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3 class="bg-primary">
                        You'll be able to find all your favourite recipes, from different cuisines in one place
                    </h3>
                </div>
                <div class="col-md-8 pull-right">
                    {% include "FOSUserBundle:Registration:register_content.html.twig" %}
                </div>
            </div>
        </div>
    {% endblock fos_user_content %}
{% endblock body %}