{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'FOSUserBundle:ChangePassword:form_theme_changePassword.html.twig' %}
<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">


<div>

    {{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
</div>




    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
</form>
